.article-header {
    width: 100%;
    height: auto;
}

h3 {
    font-size: 30px;
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

h5 {
    margin-left: 20px;
    font-size: 20px;
}

@media only screen and (min-width: 1200px) {
    body{
        background-color: #707070;
    }
    .wrapper {
        background-color: white;
        width: 1000px;
        margin: 0 auto;
    }
    .article-header {
        width: 100%;
        height: 500px;
    }
}