/*Header*/
* {
    text-decoration: none;
}

header {
    background-color: black;
    width: 100%;
    height: 110px;
}

header .header-logo {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 100%;
    height: auto;
}

header nav ul {
    display: none;
}

@media only screen and (min-width: 1200px) {
    header .header-logo {
        float: left;
        padding-left: 100px;
    }

    header nav ul {
        margin: 20px 0px 0px 20px;
        display: block;
        float: right;
        width: fit-content;
    }

    header nav ul li {
        display: inline-block;
        float: left;
        list-style: none;
        padding: 0 16px;
        line-height: 60px;
    }

    header nav ul li a {
        font-size: 16px;
        color: white;
    }
}

/*Main*/
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    background-color: black;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.post-header {
    text-align: center;
    font-size: 25px;
    line-height: 1px;
}

.post-date {
    color: #707070;
    margin-left: 25px;
    line-height: 1px;
}

.post-text {
    margin-left: 25px;
    margin-right: 25px;
}

.post-button {
    margin-left: 25px;
    border-radius: 0px;
    border-color: black;
    text-align: center;
    background-color: white;
    transition-duration: 0.4s;
}

.post-button:hover {
    background-color: black;
    color: white;
}

@media only screen and (min-width: 1200px) {
    .center {
        margin-left: 200px;
        float: left;
    }
    .post-header {
        text-align: left;
    }
    .post-text {
        text-align: left;
        width: 50%;
    }
}

/*Footer*/
footer {
    width: calc(100% - 10px);
    padding: 5px 5px;
    margin-top: 20px;
    background-color: black;
    overflow: hidden;
}

footer .footer-logo {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100%;
    height: auto;
}

footer nav ul {
    margin: auto;
    display: block;
    width: fit-content;
}

footer nav ul li {
    display: inline-block;
    padding: 0 10px;
    line-height: 60px;
}

footer div {
    border-bottom: 1px solid #707070;
}

footer h4.about {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
}

footer h5.about {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    width: 180px;
    text-align: center;
    color: #707070;
    font-size: 20px;
}

footer h6.about {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    width: 180px;
    text-align: center;
    color: white;
    font-size: 20px;
}

footer h4.instageam {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
}

footer h4.contact {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
}

footer h6.contact {
    margin: 20px 0px 0px 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 20px;
}

footer p.contact {
    color: #707070;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    footer h4.about {
        text-align: center;
    }

    footer h5.about {
        width: auto;
    }

    footer h6.about {
        width: 500px;
    }
}